

.header_inner
	display: flex
	justify-content: space-between
	height: 80px
	padding: 20px
.nav
	background: #fff 
	ul
		display: flex
		justify-content: space-between
		width: 350px
		list-style: none
		text-transform: uppercase
		li
			padding: 0 20px
			display: flex
			align-items: center
			justify-content: space-between
			a
				color: #000
				text-decoration: none
		.sign
			width: 125px
			//height: 40px
			background: #fff
			border: 3px solid #0ebfdd
			border-radius: 20px
			color: #000
			text-transform: uppercase
			font-family: 'Roboto', sans-serif
		.sign:hover
			background: #0ebfdd
			color: #fff
			transition: background 1s, color .5s

.logo
	text-transform: uppercase
	color: #82868f
	font-size: 30px

.main
	height: 600px
	background: url('../image/header_bg.png') center center / cover no-repeat
	h1
		display: inline
		color: #fff
		font-size: 44px
	.title
		display: flex
		padding-top: 400px
		justify-content: center
		align-items: center
	.star1
		margin-right: 10px
	.star2
		margin-left: 10px
	.subtitle
		width: 630px
		color: #fff
		font-family: 'Roboto', sans-serif
		font-size: 16px
		margin: 0 auto
		text-align: center

.about
	height: 250px
	h2
		padding-top: 65px
		color: #0ebfdd
		text-align: center
	.descr
		width: 630px
		margin: 0 auto
		text-align: center
		font-family: 'Roboto', sans-serif

.team
	height: 600px
	background: #0ebfdd
	.title
		color: #fff
		font-size: 30px
		font-family: 'Roboto', sans-serif
		font-weight: 600
		letter-spacing: 2px
		text-align: center
		padding-top: 60px
	.people
		width: 590px
		display: flex
		justify-content: space-between
		margin: 0 auto
		margin-top: 105px
	&_btn
		display: flex
		justify-content: center
		margin-top: 105px
		button
			width: 180px
			height: 40px
			border: 2px solid #fff
			color: #fff
			background: #0ebfdd
			border-radius: 50px
			text-transform: uppercase
			font-family: 'Roboto', sans-serif
			font-weight: 900
		button:hover
			color: #000
			background: #fff
			transition: color .5s, background .5s